.social {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.social__icon {
	margin: 30px 15px;
	width: 35px;
	height: 30px;
	cursor: pointer;
	
}

.social__icon-vk {
	background: url("../images/social/vk.svg");
	background-repeat: no-repeat;
	background-size: contain;
}
.social__icon-tg {
	background: url("../images/social/telegram.svg");
	background-repeat: no-repeat;
	background-size: contain;
}

.social__icon-gh {
	 background: url("../images/social/github.svg");
	 background-repeat: no-repeat;
	background-size: contain;
 }

 .social__icon-ghblack {
	background: url("../images/social/github-black.svg");
	background-repeat: no-repeat;
   background-size: contain;
}

.social__icon-li {
	 background: url("../images/social/linkedin.svg");
	 background-repeat: no-repeat;
	background-size: contain;
}
