@import url("fonts.css");
@import url("buttons.css");
@import url("material-icons.css");
@import url("social.css");

:root {
	--black: #212121;
	--white: #fafafa; 
	--blue: #0d47a1;
	--ltblue: #1e88e5;
	--grey: #bdbdbd;
}


.page {
 	font-family: Montserrat, sans-serif;
 	font-size: 1em;
 	display: flex;
 	flex-direction: column;
 	flex-wrap: nowrap;
 	color: var(--black);
 	padding: 0px;
 	margin: 0px;
 	min-width: 320px;
}

.title {
	font-family: Bitter, sans-serif;
 	font-size: 3em;
 	font-weight: 700;
}


.screen {
	/*height: 768px;*/
	width: 100%;
}
	.screen-grey {
		background-color: var(--bg);
	}
	.screen-white {
		background-color: var(--white);
	}
	.screen-blue {
		background-color: var(--blue);
	}
	.screen-gradient {
		background: linear-gradient(180deg, var(--white),var(--grey));
	}
	.screen-dark {
		background-color: var(--black);
	}
	.screen-bg {
	background-image: url("../images/beautytime1.png");
	background-position: 100% 100%;
	background-size: contain;
	background-repeat: no-repeat;
	}	
	@media (max-width: 945px){
		.screen-bg {
			background-position: 100% 0%;
			background-size: 500px 335px;
		}
	}
.screen__container {
	max-width: 1170px;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	/*border: 1px solid black;*/
}
.screen__container-row {
	flex-direction: row;
}
.screen__container-header {
	align-items: center;
	justify-content: space-between;
	margin-top: 16px;
	margin-bottom: 16px;
	flex-wrap: nowrap;
}
.screen__container-main {
	align-items: center;
	justify-content: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
.screen__container-white {
	color: var(--white);
	align-items: center;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
	white-space: nowrap;
}
.screen__container-narrow {
	max-width: 970px;
	padding-top: 30px;
	padding-bottom: 60px;
}
.screen__container-footer {
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

@media (max-width: 1024px) {
	.screen__container {
		max-width: 945px;
	}
} 

@media (max-width: 945px) {
	.screen__container {
		max-width: 455px;
	}
} 

@media (max-width: 455px) {
	.screen__container {
		max-width: 280px;
	}
	.screen__container-main {
		padding-top: 50px;
		padding-bottom: 50px;
	}
} 

.menu {
	display: inline-flex;
	padding-left: 0px; 
}
@media (max-width: 945px) {
	.menu {
		display: none;
	}
	.menu__burger {
		display: block;
	}
}

.menu__item {
	padding-right: 30px;
	list-style: none;
}

.menu__burger {
	display: none;
	font-size: 45px;
	cursor: pointer;
	z-index: 110; 
}
.menu__burger-burger {
	display: inline;
}
.menu__burger-clear {
	display: none;
}
@media (max-width: 945px) {
	.menu__burger {
		display: block;
	}
}
@media (max-width: 455px) {
	.menu__burger {
		font-size: 30px;
	}
}
.menu-popup {
	display: none;
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: white;
	opacity: 0.95;
	z-index: 100;
	color: black;
	font-size: 50px;
	line-height: 75px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.menu-popup-shown {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.menu__item-popup {
	padding-right: 0px;
}

.menu-footer {
	display: flex;
	flex-direction: column;
	line-height: 40px;
	c
}


.link {
	text-decoration: none;
	color: currentColor;
}
.link:hover {
	cursor: pointer;
	text-decoration: underline;
	color: var(--ltblue);
}

.contact {
	font-size: 25px;
	white-space: nowrap;
	margin-left: auto;
	margin-right: 30px;
}
.contact-footer {
	margin: 0px;
	color: var(--subh);

}

@media (max-width: 1024px) {
	.contact {
		font-size: 25px;
	}
} 
@media (max-width: 945px) {
	.contact {
		font-size: 18px;
		margin-left: initial;
		margin-right: initial;
	}
} 
@media (max-width: 455px) {
	.contact {
		font-size: 18px;
	}
} 

.title-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	order: 2;
}
@media (max-width: 945px) {
	.title-container {
		align-items: center;
		text-align: center;
	}
}

.h1 {
	font-family: Bitter, serif;
	font-size: 80px;
	font-weight: 700;
}
.h1__subtitle {
	font-size: 25px;
	color: var(--subh);
	margin-bottom: 50px;
}

@media (max-width: 1280px) {
	.h1 {
		font-size: 54px;
	}
}
@media (max-width: 455px) {
	.h1 {
		font-size: 30px;
	}
}

.h2 {
	font-size: 54px;
	font-weight: 700;
	padding-bottom: 50px;
	text-align: center;
}
.h2-white {
	color: var(--white);
}

@media (max-width: 455px) {
	.h2 {
		font-size: 30px;
	}
}

.h3 {
	font-size: 45px;
	font-weight: 700;
	padding-bottom: 50px;
	text-align: center;
}
@media (max-width: 455px) {
	.h3 {
		font-size: 30px;
	}
}

.portrait {
	margin-left: auto;
	margin-right: -50px;
	order: 3;
}
@media (max-width: 1280px) {
	.portrait {
		margin-right: 0px;
	}
}
@media (max-width: 945px) {
	.portrait {
		order: 1;
		width: 224px;
		height: 334px;
	}
}

.services {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 100px;
	align-items: center;
	align-content: center;
	color: var(--white);
}
@media (max-width: 1024px) {
	.services {
	justify-content: center;
	}
}
.services__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-width: 270px;
	padding: 10px;
	/*border: 1px solid red;*/
}
@media (max-width: 1024px){
	.services__item {
		padding-left: 30px;
		padding-right: 30px;
	}
}
.services__img {
	max-width: fit-content;
	padding-bottom: 25px;
	min-width: 99px;
}
.services__caption {
	font-size: 20px;
	color: var(--subh);
}
@media (max-width: 1024px) {
	.services__caption {
		font-size: 16px;
	}
}